<launch>

  <arg name="enable_debug"                 default="true"/>
  <arg name="enable_speed_regulation"      default="false"/>
  <arg name="enable_radius_scaling"        default="true"/>
  <arg name="enable_sensor_noise"          default="true"/>
  <arg name="vehicle_name"                 default="OHRAD_X3"/>

  <!-- Launch the config file, which contains controller gains and other relevant parameters -->
  <rosparam file="$(find nearness_control)/cfg/NearnessControl3D.yaml" command="load" ns="nearness_control_3d"/>

  <!-- Launch the nearness control node -->
  <node pkg="nearness_control" type="nearness_control_3d_node" name="nearness_control_3d" output="screen">

      <!-- Subscribed Topics -->
      <remap from="nearness_control_3d/points"   to="ouster_points"/>
      <remap from="nearness_control_3d/odometry" to="/odometry/ground_truth"/>
      <remap from="nearness_control_3d/control_commands" to="nav_vel"/>

      <!-- Vehicle name for frame id's -->
      <param name="vehicle_name"             type="string"     value="$(arg vehicle_name)"/>

      <!-- Enable switches -->
      <param name="enable_debug"             type="bool"       value="$(arg enable_debug)"/>
      <param name="enable_speed_regulation"  type="bool"       value="$(arg enable_speed_regulation)"/>
      <param name="enable_radius_scaling"    type="bool"       value="$(arg enable_radius_scaling)"/>
      <param name="enable_sensor_noise"      type="bool"       value="$(arg enable_sensor_noise)"/>

  </node>

</launch>
