<launch>

  <arg name="ns" default="OHRAD_X3"/>

  <arg name="folder_name" default="thesis_datasets/cave/simple_cave_02"/>
  <arg name="user" default="marble"/>
  <arg name="record_sensors" default="0"/>
  <arg name="record_outputs" default="1"/>

  <!-- Recording Split Parameters -->
  <arg name="split_time" default="20m"/>
  <arg name="split_number" default="5"/>

  <group if="$(arg record_sensors)">
    <node pkg="rosbag" type="record" name="rosbag_3dnearness_sensors" output="screen"
      args=" --split --duration=$(arg split_time) --max-splits $(arg split_number) --buffsize 0 --output-prefix /home/$(arg user)/$(arg folder_name)/sensors
      /tf
      /tf_static
      $(arg ns)/ouster_points
      $(arg ns)/odometry/ground_truth
      $(arg ns)/cmd_vel/ground_truth
      ">
    </node>
  </group>


  <!-- Record Output Data  -->
  <group if="$(arg record_outputs)">
    <node pkg="rosbag" type="record" name="rosbag_record" output="screen"
      args=" --split --duration=$(arg split_time) --max-splits $(arg split_number) --buffsize 0 --output-prefix /home/$(arg user)/$(arg folder_name)/outputs
      /tf
      /tf_static
      $(arg ns)/odometry/ground_truth
      $(arg ns)/cmd_vel/ground_truth
      $(arg ns)/nearness_control_3d/y_projections_with_odom
      ">
    </node>
  </group>

</launch>
