<launch>

  <arg name="enable_debug"                 default="true"/>
  <arg name="enable_altitude_hold"         default="false"/>
  <arg name="enable_speed_regulation"      default="true"/>

  <arg name="number_of_rings"              default = "64"/>
  <arg name="number_of_ring_points"        default = "360"/>
  <arg name="number_of_basis_shapes"       default = "9"/>
  <arg name="number_of_wf_harmonics"       default = "9"/>

  <arg name="enable_teleop"                default = "0"/>
  <!-- <arg name=""             deault = ""/> -->

  <group ns="OHRAD_X3">
    <node pkg="nearness_control" type="nearness_control_3d_node" name="nearness_control_3d_node" output="screen">

        <!-- SUBSCRIBED TOPICS -->
        <remap from="nearness_controller_3d/points"   to="ouster_points"/>
        <remap from="nearness_controller_3d/odometry" to="odometry/ground_truth"/>
        <remap from="nearness_controller_3d/control_commands" to="cmd_vel"/>
        <remap from="nearness_controller_3d/joy" to="joy"/>

        <!-- Enable switches -->
        <param name="enable_debug"             type="bool"       value="$(arg enable_debug)"/>
        <param name="enable_altitude_hold"     type="bool"       value="$(arg enable_altitude_hold)"/>
        <param name="enable_speed_regulation"  type="bool"       value="$(arg enable_speed_regulation)"/>

        <!-- Sensor Parameters -->
        <param name="num_rings"                type="int"        value="$(arg number_of_rings)"/>
        <param name="num_ring_points"          type="int"        value="$(arg number_of_ring_points)"/>
        <param name="num_basis_shapes"         type="int"        value="$(arg number_of_basis_shapes)"/>
        <param name="num_wf_harmonics"         type="int"        value="$(arg number_of_wf_harmonics)"/>

        <!-- Controller Parameters -->
        <!-- <param name="lateral_speed_gain"       type="double"     value="-0.25"/>
        <param name="turn_rate_gain"           type="double"     value="-.75"/>
        <param name="vertical_speed_gain"      type="double"     value=".3"/>        -->
        <param name="lateral_speed_gain"       type="double"     value="-1.0"/>
        <param name="turn_rate_gain"           type="double"     value="1.0"/>
        <param name="vertical_speed_gain"      type="double"     value="-1.0"/>
        <param name="reference_altitude"       type="double"     value="1.5"/>
        <param name="forward_speed"            type="double"     value="1.0"/>
        <param name="forward_speed_thetadot_gain"    type="double"     value="0.75"/>
        <param name="forward_speed_lateral_gain"     type="double"     value="0.5"/>

    </node>

    <include file="$(find nearness_control)/launch/thesis/tf2odom.launch"/>

    <include file="$(find nearness_control)/launch/sim/sim_teleop.launch" if="$(arg enable_teleop)"/>

  </group>

</launch>
