<?xml version="1.0"?>

<launch>

  <arg name="name" default="OHRAD_X3"/>

  <group ns="$(arg name)">

    <node name="command_generator_node" type="command_generator" pkg="nearness_control" output="screen">
      <remap from="command_generator/odometry" to="ground_truth/odom"/>
      <remap from="command_generator/cmd_vel_out" to="nav_vel"/>
      <remap from="command_generator/cmd_vel_out_stamped" to="cmd_vel_stamped"/>
    </node>

    <include file="$(find nearness_control)/launch/sim/tf2odom.launch"/>

  </group>

  <include file="$(find nearness_control)/launch/sim/twist_mux.launch"/>

</launch>
