<?xml version="1.0"?>

<launch>
  <arg name="name" default="OHRAD_X3"/>
  <group ns="$(arg name)">

    <node name="control_mixer" type="control_mixer" pkg="nearness_control" output="screen">
      <param name="desired_altitude" value="1.0"/>
      <param name="k_height" value="1.0"/>

      <remap from="control_mixer/joy_vel" to="joy_vel"/>
      <remap from="control_mixer/odometry" to="odometry"/>
      <remap from="control_mixer/cmd_vel" to="cmd_vel"/>

    </node>

  </group>

</launch>
