<launch>

  <arg name="enable_debug"      default="false"/>
  <arg name="agent_name"        default="OHRAD_X3"/>               

  <group ns="$(arg agent_name)">

    <include file="$(find nearness_control)/launch/3d_nearness_control.launch">
        <arg name="enable_debug"  value="$(arg enable_debug)"/>
        <arg name="vehicle_name"  value="$(arg agent_name)"/>
    </include>

    <include file="$(find nearness_control)/launch/data_collector.launch"/>

  </group>

</launch>
