<launch>

    <node pkg="nearness_control" type="nearness_controller_node" name="nearness_control_node" output="screen">

        <!-- SUBSCRIBED TOPICS -->
        <remap from="/nearness_controller/horiz_scan" to="scan"/>
        <remap from="/nearness_controller/vert_scan" to="scan1"/>

        <!-- Sensor Parameters -->
        <param name="total_horiz_scan_points" type="int" value="1081"/>
        <param name="num_horiz_scan_points" type="int" value="720"/>
        <param name="horiz_scan_limit" type="double" value="1.5707"/>
        <param name="scan_start_location" type="string" value="back" /> <!-- Valid args: 'forward', 'back', 'left', 'right' -->
        <param name="horiz_sensor_min_distance" type="double" value="0.1"/>
        <param name="horiz_sensor_max_distance" type="double" value="25.0"/>
        <param name="horiz_scan_start_index" type="int" value="180"/>
        <param name="horiz_sensor_min_noise" type="double" value="0.1"/>
        <param name="reverse_horiz_scan" type="bool" value="false"/>

        <param name="total_vert_scan_points" type="int" value="1081"/>
        <param name="num_vert_scan_points" type="int" value="720"/>
        <param name="vert_scan_limit" type="double" value="1.5707"/>
        <param name="scan_start_location" type="string" value="back" /> <!-- Valid args: 'forward', 'back', 'left', 'right' -->
        <param name="vert_sensor_min_distance" type="double" value="0.1"/>
        <param name="vert_sensor_max_distance" type="double" value="25.0"/>
        <param name="vert_scan_start_index" type="int" value="180"/>
        <param name="vert_sensor_min_noise" type="double" value="0.1"/>
        <param name="reverse_vert_scan" type="bool" value="false"/>

        <!-- Safety Parameters -->
        <param name="enable_safety_boundary" type="bool" value="false"/>
        <param name="enable_safety_box" type="bool" value="false"/>
        <param name="front_safety_distance" type="double" value=".5"/>
        <param name="side_safety_distance" type="double" value=".4"/>
        <param name="safety_radius" type="double" value=".5"/>

        <!-- Parameters for Forward Speed Controller -->
        <param name="forward_speed_k_hb_1" type="double" value="3.5"/>
        <param name="forward_speed_k_hb_2" type="double" value="3.5"/>
        <param name="forward_speed_k_vb_1" type="double" value="0.5"/>
        <param name="forward_speed_k_vb_2" type="double" value="2.0"/>
        <param name="forward_speed_min" type="double" value="0.1"/>
        <param name="forward_speed_max" type="double" value="2.5"/>

        <!-- Parameters for Yaw Rate Controller -->
        <param name="yaw_rate_k_hb_1" type="double" value="4.0"/>
        <param name="yaw_rate_k_hb_2" type="double" value="4.0"/>  <!-- -2 -->
        <param name="yaw_rate_max" type="double" value="1.0"/>

        <param name="vert_speed_k_vb_1" type="double" value="8.0"/>
        <param name="vert_speed_k_vb_2" type="double" value="4.0"/>  <!-- -2 -->
        <param name="vert_speed_max" type="double" value="1.0"/>

    </node>

    <node pkg="topic_tools" name="control_relay" type="relay" args="/nearness_controller/control_commands command/twist" />

</launch>
