<launch>

    <!-- <arg name="enable_debug" /> -->
    <arg name="enable_debug"                default="false"/>
    <arg name="is_ground_vehicle"           default="true"/>
    <arg name="enable_wf_control"           default="true"/>
    <arg name="enable_sf_control"           default="true"/>
    <arg name="enable_terrain_control"      default="true"/>
    <arg name="enable_attractor_control"    default="true"/>
    <arg name="enable_command_weighting"    default="false"/>
    <arg name="enable_sf_clustering"        default="true"/>
    <arg name="enable_att_speed_reg"        default="true"/>
    <arg name="enable_tower_safety"         default="false"/>
    <arg name="enable_cmd_lp_filter"        default="true"/>
    <arg name="enable_unstuck"              default="false"/>
    <arg name="motion_on_startup"           default="false"/>
    <arg name="enable_octomap_control"      default="false"/>

    <arg name="reverse_yaw_rate_cmd"        default="false"/>
    <arg name="reverse_wf_yaw_rate_cmd"     default="false"/>
    <arg name="reverse_forward_speed_cmd"   default="false"/>

    <arg name="total_horiz_scan_points"     default="720"/>
    <arg name="num_horiz_scan_points"       default="360"/>
    <arg name="horiz_scan_start_index"      default="180"/>
    <arg name="horiz_scan_limit"            default="1.5707"/>
    <arg name="horiz_sensor_min_distance"   default="0.1"/>
    <arg name="horiz_sensor_max_distance"   default="40.0"/>
    <arg name="horiz_sensor_min_noise"      default="0.1"/>
    <arg name="reverse_horiz_scan"          default="true"/>
    <arg name="num_horiz_fourier_terms"     default="5"/>
    <arg name="scan_start_location"         default="back"/>

    <arg name="total_octo_scan_points"      default="920"/>
    <arg name="num_octo_scan_points"        default="460"/>
    <arg name="octo_scan_start_index"       default="230"/>
    <arg name="octo_scan_limit"             default="3.1415"/>
    <arg name="octo_sensor_min_distance"    default="0.1"/>
    <arg name="octo_sensor_max_distance"    default="40.0"/>
    <arg name="octo_sensor_min_noise"       default="0.1"/>
    <arg name="reverse_octo_scan"           default="true"/>
    <arg name="octo_scan_start_location"    default="forward"/>

    <arg name="enable_safety_boundary"      default="false"/>
    <arg name="enable_safety_box"           default="true"/>
    <arg name="front_safety_distance"       default="0.25"/>
    <arg name="side_safety_distance"        default="0.35"/>
    <arg name="safety_radius"               default=".5"/>
    <arg name="close_side_speed"            default="0.05"/>

    <arg name="vehicle_roll_angle_limit"    default="15.0"/>
    <arg name="vehicle_pitch_angle_limit"   default="15.0"/>

    <node pkg="nearness_control" type="nearness_controller_node" name="nearness_control_node" output="screen">

        <!-- SUBSCRIBED TOPICS -->
        <remap from="nearness_controller/horiz_scan" to="planar_laser_scan0"/>
        <remap from="nearness_controller/vert_scan" to="scan1"/>
        <remap from="nearness_controller/att_lookahead" to="lookahead_point"/>
        <remap from="nearness_controller/traj_lookahead" to="trajectory_follower/traj_lookahead"/>
        <remap from="nearness_controller/follow_traj" to="follow_traj"/>
        <remap from="nearness_controller/goal_pose" to="ma_goal"/>
        <remap from="nearness_controller/task" to="fake_task"/>
        <remap from="nearness_controller/odometry" to="odometry"/>
        <remap from="nearness_controller/odometry_map" to="odometry_map"/>
        <remap from="nearness_controller/imu" to="imu_raw"/>
        <remap from="nearness_controller/joy" to="joy"/>
        <remap from="nearness_controller/estop_cmd" to="estop_cmd"/>
        <remap from="nearness_controller/terrain_scan" to="terrain_detection/scan_out_center"/>
        <remap from="nearness_controller/tower_safety" to="safety/tower_status"/>
        <remap from="nearness_controller/beacon_stop" to="stop_for_beacon_drop"/>
        <remap from="nearness_controller/octo_laserscan" to="octomap_laserscan"/>

        <!-- Enable switches -->
        <param name="enable_debug" type="bool" value="$(arg enable_debug)"/>
        <param name="is_ground_vehicle" type="bool" value="$(arg is_ground_vehicle)"/>
        <param name="enable_wf_control" type="bool" value="$(arg enable_wf_control)"/>
        <param name="enable_sf_control" type="bool" value="$(arg enable_sf_control)"/>
        <param name="enable_terrain_control" type="bool" value="$(arg enable_terrain_control)"/>
        <param name="enable_attractor_control" type="bool" value="$(arg enable_attractor_control)"/>
        <param name="enable_trajectory_following" type="bool" value="true"/>
        <param name="enable_command_weighting" type="bool" value="$(arg enable_command_weighting)"/>
        <param name="enable_sf_clustering" type="bool" value="$(arg enable_sf_clustering)"/>
        <param name="enable_att_speed_reg" type="bool" value="$(arg enable_att_speed_reg)"/>
        <param name="enable_tower_safety" type="bool" value="$(arg enable_tower_safety)"/>
        <param name="enable_cmd_lp_filter" type="bool" value="$(arg enable_cmd_lp_filter)"/>
        <param name="enable_unstuck" type="bool" value="$(arg enable_unstuck)"/>
        <param name="sim_start" type="bool" value="true"/>
        <param name="enable_octomap_control" type="bool" value="$(arg enable_octomap_control)"/>

        <!-- Sensor Parameters -->
        <param name="total_horiz_scan_points" type="int" value="$(arg total_horiz_scan_points)"/>
        <param name="num_horiz_scan_points" type="int" value="$(arg num_horiz_scan_points)"/>
        <param name="horiz_scan_start_index" type="int" value="$(arg horiz_scan_start_index)"/>
        <param name="horiz_scan_limit" type="double" value="$(arg horiz_scan_limit)"/>
        <param name="scan_start_location" type="string" value="$(arg scan_start_location)" /> <!-- Valid args: 'forward', 'back', 'left', 'right' -->
        <param name="horiz_sensor_min_distance" type="double" value="$(arg horiz_sensor_min_distance)"/>
        <param name="horiz_sensor_max_distance" type="double" value="$(arg horiz_sensor_max_distance)"/>
        <param name="horiz_sensor_min_noise" type="double" value="$(arg horiz_sensor_min_noise)"/>
        <param name="reverse_horiz_scan" type="bool" value="$(arg reverse_horiz_scan)"/>
        <param name="num_horiz_fourier_terms" type="int" value="$(arg num_horiz_fourier_terms)"/>

        <param name="total_octo_scan_points" type="int" value="$(arg total_octo_scan_points)"/>
        <param name="num_octo_scan_points" type="int" value="$(arg num_octo_scan_points)"/>
        <param name="octo_scan_start_index" type="int" value="$(arg octo_scan_start_index)"/>
        <param name="octo_scan_limit" type="double" value="$(arg octo_scan_limit)"/>
        <param name="scan_start_location" type="string" value="$(arg scan_start_location)" /> <!-- Valid args: 'forward', 'back', 'left', 'right' -->
        <param name="octo_sensor_min_distance" type="double" value="$(arg octo_sensor_min_distance)"/>
        <param name="octo_sensor_max_distance" type="double" value="$(arg octo_sensor_max_distance)"/>
        <param name="octo_sensor_min_noise" type="double" value="$(arg octo_sensor_min_noise)"/>
        <param name="reverse_octo_scan" type="bool" value="$(arg reverse_octo_scan)"/>

        <param name="total_vert_scan_points" type="int" value="1081"/>
        <param name="num_vert_scan_points" type="int" value="720"/>
        <param name="vert_scan_limit" type="double" value="1.5707"/>
        <param name="vert_sensor_min_distance" type="double" value="0.1"/>
        <param name="vert_sensor_max_distance" type="double" value="25.0"/>
        <param name="vert_scan_start_index" type="int" value="180"/>
        <param name="vert_sensor_min_noise" type="double" value="0.1"/>
        <param name="reverse_vert_scan" type="bool" value="false"/>

        <!-- Safety Parameters -->
        <param name="enable_safety_boundary" type="bool" value="$(arg enable_safety_boundary)"/>
        <param name="enable_safety_box" type="bool" value="$(arg enable_safety_box)"/>
        <param name="front_safety_distance" type="double" value="$(arg front_safety_distance)"/>
        <param name="side_safety_distance" type="double" value="$(arg side_safety_distance)"/>
        <param name="safety_radius" type="double" value="$(arg safety_radius)"/>
        <param name="close_side_speed" type="double" value="$(arg close_side_speed)"/>
        <param name="safety_getting_close_vote_thresh" type="int" value="10"/>
        <param name="safety_getting_too_close_vote_thresh" type="int" value="7"/>

        <!-- Parameters for Forward Speed Controller -->
        <param name="forward_speed_k_hb_1" type="double" value=".5"/>
        <param name="forward_speed_k_hb_2" type="double" value=".5"/>
        <param name="forward_speed_k_ha_1" type="double" value=".5"/>
        <param name="forward_speed_k_ha_2" type="double" value=".5"/>

        <param name="forward_speed_min" type="double" value="0.1"/>
        <param name="forward_speed_max" type="double" value="0.75"/>
        <param name="reverse_forward_speed_cmd" type="bool" value="$(arg reverse_forward_speed_cmd)"/>

        <!-- Parameters for WF Yaw Rate Control -->
        <param name="yaw_rate_k_hb_1" type="double" value="1.0"/>
        <param name="yaw_rate_k_hb_2" type="double" value="2.0"/>  <!-- -2 -->
        <param name="yaw_rate_max" type="double" value=".5"/>
        <param name="reverse_yaw_rate_cmd" type="bool" value="$(arg reverse_yaw_rate_cmd)"/>
        <param name="reverse_wf_yaw_rate_cmd" type="bool" value="$(arg reverse_wf_yaw_rate_cmd)"/>

        <!-- Parameters for SF Yaw Rate Control -->
        <param name="h_sf_k_thresh" type="double" value="3.0"/>
        <param name="h_sf_k_0" type="double" value="0.4"/>
        <param name="h_sf_k_psi" type="double" value="0.5"/>
        <param name="h_sf_k_d" type="double" value="0.5"/>

        <!-- Parameters for Terrain control -->
        <param name="num_tscan_points" type="int" value="90"/>
        <param name="tscan_fov" type="double" value="1.5707"/>
        <param name="terrain_front_safety_radius" type="double" value=".85"/>
        <param name="ter_sf_k_0" type="double" value="-0.4"/>
        <param name="ter_sf_k_psi" type="double" value="0.5"/>
        <param name="ter_sf_k_d" type="double" value="0.5"/>
        <param name="terrain_thresh" type="double" value="0.5"/>

        <!-- Parameters for Attractor Yaw Rate Control -->
        <param name="yaw_rate_k_att_0" type="double" value="-1.0"/>
        <param name="yaw_rate_k_att_d" type="double" value="1.0"/>
        <param name="yaw_rate_k_turn"  type="double" value="-1.0"/>
        <param name="attractor_watchdog_timer" type="double" value="3.0"/>

        <!-- LP Filter Constants -->
        <param name="forward_speed_lp_filter_alpha" type="double" value=".5"/>
        <param name="yaw_rate_lp_filter_alpha" type="double" value=".25"/>
        <param name="wf_yaw_rate_lp_filter_alpha" type="double" value=".1"/>
        <param name="sf_yaw_rate_lp_filter_alpha" type="double" value=".1"/>
        <param name="ter_yaw_rate_lp_filter_alpha" type="double" value=".25"/>

        <!-- Vehicle Status -->
        <param name="vehicle_roll_angle_limit" type="double" value="$(arg vehicle_roll_angle_limit)"/>
        <param name="vehicle_pitch_angle_limit" type="double" value="$(arg vehicle_pitch_angle_limit)"/>

        <!-- Additional parameters for aerial vehicles -->
        <param name="forward_speed_k_vb_1" type="double" value="0.25"/>
        <param name="forward_speed_k_vb_2" type="double" value="0.5"/>

        <param name="lateral_speed_k_hb_1" type="double" value="4.0"/>
        <param name="lateral_speed_max" type="double" value="2.0"/>

        <param name="vert_speed_k_vb_1" type="double" value="-3.0"/>
        <param name="vert_speed_k_vb_2" type="double" value="-1.0"/>  <!-- -2 -->
        <param name="vert_speed_max" type="double" value="2.0"/>

    </node>

</launch>
