<launch>

  <include file="$(find nearness_control)/launch/marble/nearness_control.launch">

    <arg name="enable_debug"                value="true"/>
    <arg name="is_ground_vehicle"           value="true"/>
    <arg name="enable_wf_control"           value="true"/>
    <arg name="enable_sf_control"           value="true"/>
    <arg name="enable_terrain_control"      value="false"/>
    <arg name="enable_attractor_control"    value="true"/>
    <arg name="enable_command_weighting"    value="false"/>
    <arg name="enable_sf_clustering"        value="true"/>
    <arg name="enable_att_speed_reg"        value="false"/>
    <arg name="stagger_waypoints"           value="false"/>
    <arg name="enable_tower_safety"         value="true"/>

    <!-- Horizontal Scanner Sensor Parameters -->
    <!-- These values correspond with the RPLidar S1 -->
    <arg name="total_horiz_scan_points"     value="720"/>
    <arg name="num_horiz_scan_points"       value="360"/>
    <arg name="horiz_scan_start_index"      value="180"/>
    <arg name="horiz_scan_limit"            value="1.5707"/>
    <arg name="horiz_sensor_min_distance"   value="0.1"/>
    <arg name="horiz_sensor_max_distance"   value="40.0"/>
    <arg name="horiz_sensor_min_noise"      value="0.1"/>
    <arg name="reverse_horiz_scan"          value="true"/>
    <arg name="num_horiz_fourier_terms"     value="5"/>

    <!-- Safety Parameters -->
    <arg name="enable_safety_boundary"      value="true"/>
    <arg name="enable_safety_box"           value="true"/>
    <arg name="front_safety_distance"       value="0.4"/>
    <arg name="side_safety_distance"        value="0.4"/>
    <arg name="close_side_speed"            value="0.1"/>

  </include>

  <node pkg="dynamic_reconfigure" name="nearness_controller_parameter_config" type="dynparam" args="load nearness_control_node $(find nearness_control)/cfg/Husky_params.yaml"/>

  <node pkg="topic_tools" name="cmd_vel_relay" type="relay" args="nearness_controller/control_commands nav_vel" />


</launch>
