<launch>

  <include file="$(find teleop_twist_joy)/launch/tracked_teleop.launch"/>

 <!-- <include file="$(find twist_mux)/launch/tracked_bot_twist_mux.launch" /> -->
  
  <node pkg="rosserial_python" type="serial_node.py" name="estop_manager" output="screen">
   <param name="port" value="/dev/teensy"/>
   <param name="accel" value="18000"/>
   <param name="invertAxes" value="1"/>
  </node>

  <include file="$(find nearness_control)/launch/marble/marble_joy_interface.launch" />

</launch>
